{% extends 'base.html.twig' %}


{% block body%}

	<h1 class="text-center mt-30">
		{{ title }}
	</h1>
	<hr class="bg-danger block">

	<div class="container">

		<div class="logo mx-auto">

			<img src="pictures/logoBlog.gif" alt="" width="80%" height="100%" class="">
		</div>

	</div>

{% endblock %}
